.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}
nav h1 {
  letter-spacing: 0.2rem;
}
nav ul li {
  list-style: none;
  display: inline-block;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0.6rem 1rem;
}
h1 {
  text-align: center;
}
